.pink {
  background: rgb(212,169,53);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0YTkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjODk4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(212,169,53,1) 0%, rgba(200,152,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,169,53,1)), color-stop(100%,rgba(200,152,0,1)));
  background: -webkit-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a935', endColorstr='#c89800',GradientType=0 );

  border: 1px solid #9e8031;
}

.banner .cta, 
.ready-try .cta, 
aside.ready-try .cta,
.make-prediction .make-prediction-content .buttons-block button,
#setup-dialog footer button.pink,
.inner-page div[role="main"] .second-column .login section .cta,
#setup-dialog.setup-mobile.dialog footer button.pink  {
  background: rgb(212,169,53);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0YTkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjODk4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(212,169,53,1) 0%, rgba(200,152,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,169,53,1)), color-stop(100%,rgba(200,152,0,1)));
  background: -webkit-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a935', endColorstr='#c89800',GradientType=0 );

  width: 15em;
  border: 1px solid #9e8031;
  text-transform: uppercase;
}
.banner .cta {
  width: 15em;
}

.banner figcaption {
  font-family: Arial;
  font-weight: bold;
}

.pink:hover,
.banner .cta:hover, 
.ready-try .cta:hover, 
aside.ready-try .cta:hover,
.make-prediction .make-prediction-content .buttons-block button:hover,
#setup-dialog footer button.pink:hover,
.inner-page div[role="main"] .second-column .login section .cta:hover,
#setup-dialog.setup-mobile.dialog footer button.pink:hover {
  background: #fff;
  color: #be4f2b;
}

#setup-dialog footer button.pink,
#setup-dialog.setup-mobile.dialog footer button.pink  {
  width: 18.5em;
}

aside.find-out-more {
  display: none;
}

.article-image h2 {
  color: #144a9b;
}

.lt-ie9 .main-navigation {
  background: none;
}
.ie8 .main-navigation li.user-navigation summary {
  height: 4.95em;
}
.main-navigation li.active, .main-navigation li:hover {
  background: #0081c8;
}
.main-navigation li.active a, .main-navigation li:hover a {
  color: #fff;
}
.main-navigation li.user-navigation:hover .popup-content li a, .main-navigation li.user-navigation .popup-content li a:hover   {
  color: #202020;
}
.main-navigation li.user-navigation:hover .popup-content li.user-profile a, .main-navigation li.user-navigation .popup-content li.user-profile a {
  color: #144a9b;
}
.main-navigation li .flag-unread-items {
  border-top: 1.4em solid #ffca00;
}
.carousel-wrap>header .flag-new-prediction:before {
  border-top: 4em solid #ffca00;
}
.main-navigation li .flag-unread-items span {
  color: #000;
}
.carousel-wrap>header .flag-new-prediction span {
  color: #000;
  font-family: Arial;
  font-weight: bold;
}
.carousel-wrap>header {
  background: #0a2344;
}
.carousel-wrap>header li {
  background: rgb(114,169,216);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyYTlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjg2YzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(114,169,216,1) 0%, rgba(63,134,198,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,169,216,1)), color-stop(100%,rgba(63,134,198,1)));
  background: -webkit-linear-gradient(top,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  background: -o-linear-gradient(top,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  background: -ms-linear-gradient(top,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  background: linear-gradient(to bottom,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a9d8', endColorstr='#3f86c6',GradientType=0 );

}
.carousel-wrap>header li a:hover {
  color: #a5c9e6;
}

.fixtures table tr.flag-new-prediction td.action-block div strong {
  border-top: 1.2em solid #ffca00;
}
.fixtures table tr.flag-new-prediction td {
  border-top: 1px solid #ffca00;
}

.lt-ie8  .make-prediction > header .flag-new-prediction small {
  border-top: 4em solid #ffca00!important;
}

.lt-ie8 .carousel-wrap>header .flag-new-prediction small {
  border-top: 4em solid #ffca00!important;
}


@media screen and (max-width: 767px) {
  .main-navigation a.mobilenav {
    background-color: #003366;
  }
  .main-navigation ul {
    border-bottom: 4px solid #003366;
  }
  .main-navigation ul li .flag-unread-items {
    border-top: 1.4em solid #ffca00;
  }
  .main-navigation ul li.user-navigation .popup-content ul {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .main-navigation a.mobilenav {
    background-color: #003366;
  }
  .main-navigation ul {
    border-bottom: 4px solid #003366;
  }
  .main-navigation ul li .flag-unread-items {
    border-top: 1.4em solid #ffca00;
  }
  .main-navigation ul li.user-navigation .popup-content ul {
    margin-bottom: 4px;
  }
}



.grid-layout .item.pie-chart.top5-predicted-scores section {
  background: #e6edf8;
}
.grid-layout .item.pie-chart.top5-predicted-scores section h1 {
  color: #4d4d4d;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(1):before {
  background: #4d4d4d;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(2):before {
  background: #666665;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(3):before {
  background: #818080;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(4):before {
  background: #999999;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(5):before {
  background: #b2b2b2;
}

.lt-ie8 .grid-layout .item.pie-chart.top5-predicted-scores section figure ol.legend li:first-child small {
  background: #4d4d4d;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * small {
  background: #666665;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * small {
  background: #818080;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * +* small {
  background: #999999;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + * + * small {
  background: #b2b2b2;
}



body {
  font-family: Arial;
}

.inner-page div[role="main"] h1 {
  font-family: Arial;
  font-weight: bold;
}
.inner-page div[role="main"] .first-column > hgroup h2 {
  font-family: Arial;
}

.pink {
  font-family: Arial;
  font-weight: bold;
}
a.more-info {
  font-family: Arial;
  font-weight: bold;
}
a.show-more {
  font-family: Arial;
  font-weight: bold;
}
.inner-page div[role="main"] .match-banner article p {
  font-family: Arial;
}
.inner-page div[role="main"] .match-banner article footer h3 {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .inner-page div[role="main"] .match-banner article h1 {
    font-family: Arial;
  font-weight: bold;
  }
  .inner-page div[role="main"] .match-banner article p {
    font-family: Arial;
  }
  .inner-page div[role="main"] .match-banner article footer h3 {
    font-family: Arial;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner-page div[role="main"] .match-banner article p {
    font-family: Arial;
  }
  .inner-page div[role="main"] .match-banner article footer h3 {
    font-family: Arial;
    font-weight: bold;
  }
}
/***footer***/
footer[role="contentinfo"] {
  font-family: Arial;
}
footer[role="contentinfo"] article h2 {
  font-family: Arial;
  font-weight: bold;
}
footer[role="contentinfo"] > div > p a {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /***footer***/
  footer[role="contentinfo"] {
    font-family: Arial;
  }
  footer[role="contentinfo"] article h2 {
    font-family: Arial;
  font-weight: bold;
  }
 }
@media screen and (min-width: 768px) and (orientation: portrait) {
  footer[role="contentinfo"] {
    font-family: Arial;
  }
}
.main-navigation li {
  font-family: Arial;
  font-weight: bold;
}
.main-navigation li.user-navigation .popup-content li {
  font-family: Arial;
}
.main-navigation li.user-navigation .popup-content li.user-profile strong {
  font-family: Arial;
  font-weight: bold;
}
.main-navigation li.user-navigation .popup-content li.user-profile a {
  font-family: Arial;
}
.main-navigation li .flag-unread-items span {
  font-family: Arial;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .main-navigation ul li {
    font-family: Arial;
    font-weight: bold;
  }
  .main-navigation ul li.user-navigation .popup-content li {
    font-family: Arial;
  }
  .main-navigation ul li.user-navigation .popup-content li.user-profile strong {
    font-family: Arial;
    font-weight: bold;
  }
  .main-navigation ul li.user-navigation .popup-content li.user-profile a {
    font-family: Arial;
  }
}
.ideal-form.stack select {
  font-family: Arial;
}
.ideal-form .buttons-block button,
.ideal-form .buttons button {
  font-family: Arial;
}
.ideal-form .buttons-block button[type="submit"],
.ideal-form .buttons button[type="submit"] {
  font-family: Arial;
  font-weight: bold;
}
.ideal-form .ideal-error {
  font-family: Arial;
}
.grid-layout .item.pie-chart section figure div .pieLabel {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.pie-chart section h1 {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.pie-chart section p {
  font-family: Arial;
}
.grid-layout .item.pie-chart section ol li {
  font-family: Arial;
}
.grid-layout .item.stacked-bar section h1 {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.stacked-bar section figure > ol li span {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.stacked-bar section figure ol.legend li {
  font-family: Arial;
}
.grid-layout .item.featured-player section div hgroup h1 {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.featured-player section div hgroup h2 {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.featured-player section div li {
  font-family: Arial;
}
.grid-layout .item.featured-player section div li strong {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.featured-player section div li:first-child strong {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.help-tip section h1 {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.help-tip section p {
  font-family: Arial;
}
.grid-layout .item.blockquote section figure blockquote {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.blockquote section figure blockquote:before {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.blockquote section figure figcaption {
  font-family: Arial;
}
.grid-layout .item.top-predicted-scorers section div h1 {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.top-predicted-scorers section div ol li {
  font-family: Arial;
}
.grid-layout .item.top-predicted-scorers section div ol li.big strong {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.top-predicted-scorers section div ol li.big strong sup {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.top-predicted-scorers section div ol li.middle strong {
  font: bod 3em/0.8 Arial;
}
.grid-layout .item.top-predicted-scorers section div ol li.small strong {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.summary section p {
  font-family: Arial;
}
.grid-layout .item.summary section p strong {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.summary section p em {
  font-style: normal;
  font-family: Arial;
}
.grid-layout .item.summary.left section figure div .pieLabel {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.summary.left section figure div.your-place p {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.summary.left section figure div.your-place p strong {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.summary.left section figure div.your-place.no-dynamic p strong {
  font-family: Arial;
  font-weight: bold;
}
.grid-layout .item.summary.left section figcaption {
  font-family: Arial;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .grid-layout .item.pie-chart section figure div .pieLabel {
    font-family: Arial;
    font-weight: bold;
  }
  .grid-layout .item.pie-chart section h1 {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.pie-chart section p {
    font-family: Arial;
  }
  .grid-layout .item.stacked-bar section h1 {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.stacked-bar section figure > ol li span {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.stacked-bar section figure ol.legend li {
    font-family: Arial;
  }
  .grid-layout .item.featured-player section div hgroup h2 {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.featured-player section div li {
    font-family: Arial;
  }
  .grid-layout .item.featured-player section div li strong {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.featured-player section div li:first-child strong {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.help-tip section h1 {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.help-tip section p {
    font-family: Arial;
  }
  .grid-layout .item.blockquote section figure blockquote {
    font-family: Arial;
    font-weight: bold;
  }
  .grid-layout .item.blockquote section figure blockquote:before {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.blockquote section figure figcaption {
    margin: 0.2em 0 0 0;
    font-family: Arial;
  }
  .grid-layout .item.top-predicted-scorers section div h1 {
    font-family: Arial;
    font-weight: bold;
  }
  .grid-layout .item.top-predicted-scorers section div ol li {
    font-family: Arial;
  }
  .grid-layout .item.top-predicted-scorers section div ol li.big strong {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.top-predicted-scorers section div ol li.big strong sup {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.top-predicted-scorers section div ol li.middle strong {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.top-predicted-scorers section div ol li.small strong {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.summary section p {
    font-family: Arial;
  }
  .grid-layout .item.summary section p strong {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.summary.left section figure div .pieLabel {
    font-family: Arial;
  font-weight: bold;
  }
  .grid-layout .item.summary.left section figcaption {
    font-family: Arial;
  }
}
.user-content p,
.user-content pre,
.user-content address {
  font-family: Arial;
}
.user-content h1 {
  margin: 0 0 1em;
  font-family: Arial;
}
.user-content h2 {
  margin: 0 0 1em;
  font-family: Arial;
  font-weight: bold;
}
.user-content h3 {
  margin: 0 0 1em;
  font-family: Arial;
}
.user-content h4 {
  margin: 0 0 1em;
  font-family: Arial;
}
.user-content h5 {
  margin: 0 0 1em;
  font-family: Arial;
}
.user-content h6 {
  margin: 0 0 1em;
  font-family: Arial;
}
.user-content li,
.user-content dt,
.user-content dd {
  font-family: Arial;
}
.user-content dd pre,
.user-content li li,
.user-content li p {
  font-family: Arial;
}
.user-content a {
  font-family: Arial;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .user-content p,
  .user-content pre,
  .user-content address {
    font-family: Arial;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .user-content p,
  .user-content pre,
  .user-content address {
    font-family: Arial;
  }
  .user-content h2 {
    margin: 0 0 0.5em;
    font-family: Arial;
  font-weight: bold;
  }
  .user-content li {
    font-family: Arial;
  }
}
#setup-dialog header p {
  font-family: Arial;
  font-weight: bold;
}
#setup-dialog section h1 {
  font-family: Arial;
  font-weight: bold;
}
#setup-dialog section p {
  font-family: Arial;
}
#setup-dialog section p.note {
  font-family: Arial;
  font-family: Arial;
  font-weight: bold;
}
#setup-dialog section fieldset label {
  font-family: Arial;
  font-weight: bold;
}
#setup-dialog section fieldset label.ideal-radiocheck-label {
  font-family: Arial;
}
#setup-dialog footer button.pink {
  font-family: Arial;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  #setup-dialog .ideal-form header p {
    font-family: Arial;
  font-weight: bold;
  }
  #setup-dialog .ideal-form section p {
    font-family: Arial;
  }
  #setup-dialog .ideal-form footer button.pink {
    font-family: Arial;
  font-weight: bold;
  }
}

#setup-dialog.setup-mobile.dialog section h1 {
  font-family: Arial;
  font-weight: bold;
}
#setup-dialog.setup-mobile.dialog section p {
  font-family: Arial;
}
#setup-dialog.setup-mobile.dialog section p.note {
  font-family: Arial;
  font-weight: bold;
}
#setup-dialog.setup-mobile.dialog section fieldset label {
  font-family: Arial;
  font-weight: bold;
}
#setup-dialog.setup-mobile.dialog section fieldset label.ideal-radiocheck-label {
  font-family: Arial;
}
#setup-dialog.setup-mobile.dialog footer button.pink {
  font-family: Arial;
  font-weight: bold;
}
.errors-page article.error h2 {
  font-family: Arial;
  font-weight: bold;
}
.errors-page article.error p {
  font-family: Arial;
}
.errors-page article.error figure div {
  font-family: Arial;
  font-weight: bold;
}
.errors-page article + article.user-content h3 {
  font-family: Arial;
  font-weight: bold;
}
.errors-page article + article.user-content p,
.errors-page article + article.user-content li,
.errors-page article + article.user-content dd {
  font-family: Arial;
}
.errors-page article + article.user-content dd pre {
  font-family: Arial;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .errors-page article.error h2 {
    font-family: Arial;
  font-weight: bold;
  }
  .errors-page article.error p {
    font-family: Arial;
  }
  .errors-page article.error figure div {
    font-family: Arial;
  font-weight: bold;
  }
  .errors-page article + article.user-content h3 {
    font-family: Arial;
  font-weight: bold;
  }
  .errors-page article + article.user-content p,
  .errors-page article + article.user-content li,
  .errors-page article + article.user-content dd {
    font-family: Arial;
  }
  .errors-page article + article.user-content dd pre {
    font-family: Arial;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .errors-page article.error p {
    font-family: Arial;
  }
  .errors-page article + article.user-content h3 {
    font-family: Arial;
  font-weight: bold;
  }
  .errors-page article + article.user-content p,
  .errors-page article + article.user-content li,
  .errors-page article + article.user-content dd {
    font-family: Arial;
  }
  .errors-page article + article.user-content dd pre {
    font-family: Arial;
  }
}
.message article p.note {
  font-family: Arial;
  font-weight: bold;
}

.article-image h2 {
  font-family: Arial;
  font-weight: bold;
}
.article-image p {
  font-family: Arial;
}
aside.ready-try {
  font-family: Arial;
  font-weight: bold;
}
aside.ready-try .cta {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
   .article-image-left.user-content h2,
  .article-image-right.user-content h2 {
    font-family: Arial;
  font-weight: bold;
  }
  div[role="main"] aside.ready-try {
    background: #fff;
    font-family: Arial;
  font-weight: bold;
  }
}
.registration .ideal-form h2 {
  font-family: Arial;
  font-weight: bold;
}
.registration label {
  font-family: Arial;
}
.registration .field p {
  font-family: Arial;
}
.registration .field p strong {
  font-family: Arial;
  font-weight: bold;
}
.registration .avatar .desktopLabel {
  font-family: Arial;
}
.registration .email-settings label {
  font-family: Arial;
}
.registration .email-settings label a {
  font-family: Arial;
  font-weight: bold;
}
.registration .buttons a {
  font-family: Arial;
  font-weight: bold;
}
.registration.sign-in .buttons-block p {
  font-family: Arial;
}
.registration.sign-in .buttons-block p a {
  font-family: Arial;
  font-weight: bold;
}
.form-errors,
.success-message {
  font-family: Arial;
}
aside.connect-facebook h2 {
  font-family: Arial;
  font-weight: bold;
}
aside.connect-facebook p {
  font-family: Arial;
}
aside.connect-facebook .login-with-facebook span {
  font-family: Arial;
  font-weight: bold;
}
p.intro {
  font-family: Arial;
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .registration .buttons-block.signIn-buttons-block p {
    font-family: Arial;
    font-weight: bold;
  }
  .registration .form-errors,
  .registration .success-message {
    font-family: Arial;
  }
  .ideal-form .buttons-block button[type="submit"] {
    font-family: Arial;
  font-weight: bold;
  }
  .ideal-form .buttons button[type="submit"] {
    font-family: Arial;
  font-weight: bold;
  }
  .ideal-form .buttons a {
    font-family: Arial;
  font-weight: bold;
  }
  aside.connect-facebook p {
    font-family: Arial;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .registration p.intro {
    font-family: Arial;
  }
  .registration .ideal-form h2 {
    font-family: Arial;
  font-weight: bold;
  }
  .registration .buttons-block div button {
    font-family: Arial;
  }
 }

.fixtures table tr td figcaption {
  font-family: Arial;
  font-weight: bold;
}
.fixtures table tr td figcaption time {
  font-family: Arial;
  font-weight: bold;
}
.fixtures table tr td.action-block span {
  font-family: Arial;
  font-weight: bold;
}
.fixtures table tr td.action-block em {
  font-family: Arial;
  font-weight: bold;
}
.fixtures table tr td.action-block a {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
   .fixtures table tr td.home-team figcaption,
  .fixtures table tr td.away-team figcaption {
    font-family: Arial;
  font-weight: bold;
  }
  .fixtures table tr td.action-block div span {
    font-family: Arial;
  }
  .fixtures table tr td.action-block div a {
    font-family: Arial;
  font-weight: bold;
  }
}
.league-tables .league header h2 {
  font-family: Arial;
  font-weight: bold;
}
.league-tables .league table tr th h3 {
  font-family: Arial;
  font-weight: bold;
}
.league-tables .league table tr th abbr {
  font-family: Arial;
}
.league-tables .league table tr td {
  font-family: Arial;
}
.league-tables .league table tr td.points {
  font-family: Arial;
  font-weight: bold;
}
.league-tables .league table tr.your-table-position td.position,
.league-tables .league table tr.your-table-position td.player {
  font-family: Arial;
  font-weight: bold;
}
.league-tables .league footer h4 {
  font-family: Arial;
  font-weight: bold;
}
.league-tables .league article h1 {
  font-family: Arial;
  font-weight: bold;
}
.league-tables .league article p {
  font-family: Arial;
}
.league-tables .league article p a {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .league-tables .league header h2 {
    font-family: Arial;
  font-weight: bold;
  }
   .league-tables .league table tr th h3 {
    font-family: Arial;
  font-weight: bold;
  }
  .league-tables .league table tr td {
    font-family: Arial;
  }
  .league-tables .league article h1 {
    font-family: Arial;
    font-weight: bold;
  }
  .league-tables .league article p {
    font-family: Arial;
  }
  .league-tables .league article p a {
    font-family: Arial;
  font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .prizes .prizes-banner figcaption h1 {
  font-family: Arial;
  font-weight: bold;
}
.prizes .prizes-banner figcaption h2 {
  font-family: Arial;
  font-weight: bold;
}
.prizes .prizes-banner figcaption p {
  font-family: Arial;
}
.prizes .prizes-banner figcaption footer p {
  font-family: Arial;
  font-weight: bold;
}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .prizes .prizes-banner figcaption h1 {
    font-family: Arial;
  font-weight: bold;
  }
  .prizes .prizes-banner figcaption h2 {
    font-family: Arial;
  font-weight: bold;
  }
  .prizes .prizes-banner figcaption p {
    font-family: Arial;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .prizes .prizes-banner figcaption p {
    font-family: Arial;
  }
}
.privacy .privacy-content p {
  font-family: Arial;
}
.privacy .privacy-content li h2 {
  margin: 1.4em 0 0.3em;
  font-family: Arial;
}
.privacy .privacy-content li p {
  font-family: Arial;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .privacy .privacy-content.user-content p {
    font-family: Arial;
  }
  .privacy .privacy-content.user-content li p {
    font-family: Arial;
  }
}
.support .faqs dt {
  font-family: Arial;
  font-weight: bold;
}
.support .faqs dt:before {
  font-family: Arial;
  font-weight: bold;
}
.support .faqs dd {
  font-family: Arial;
}
.support .faqs dd:before {
  font-family: Arial;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .support .faqs dt {
    font-family: Arial;
  font-weight: bold;
  }
  .support .faqs dd:before {
    font-family: Arial;
  font-weight: bold;
  }
}

.banner .cta,
.ready-try .cta {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .banner figcaption {
    font-family: Arial;
  font-weight: bold;
  }
  .banner figcaption .cta {
    font-family: Arial;
  font-weight: bold;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .home-page .banner figcaption {
    font-family: Arial;
  font-weight: bold;
  }
  .home-page .banner figcaption .cta {
    font-family: Arial;
  font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner figcaption {
    font-family: Arial;
  font-weight: bold;
  }
  .banner aside.connect-facebook .login-with-facebook span {
    font-family: Arial;
  font-weight: bold;
  }
}

.login-area > p {
  font-family: Arial;
}
.login-area > p .login-with-facebook span {
  font-family: Arial;
  font-weight: bold;
}
.login-area details summary {
  font-family: Arial;
  font-weight: bold;
}
.login-area details .login-form p {
  font-family: Arial;
}
.login-area details .login-form p a {
  font-family: Arial;
  font-weight: bold;
}
.login-area details .login-form .field label {
  font-family: Arial;
  font-weight: bold;
}
.login-area details .login-form .field input {
  font-family: Arial;
}
.login-area details .login-form .signin-button input {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .login-area > p .login-with-facebook span {
    font-family: Arial;
  font-weight: bold;
  }
  .login-area details summary {
    font-family: Arial;
  font-weight: bold;
  }
}
.inner-page div[role="main"] .second-column .wrap h1 {
  font-family: Arial;
  font-weight: bold;
}
.inner-page div[role="main"] .second-column .wrap .user-profile h1 {
  font: bold 2.3em/1 Arial;
}
.inner-page div[role="main"] .second-column .wrap .user-profile a {
  font-family: Arial;
}
.inner-page div[role="main"] .second-column .wrap .total-points th {
  font-family: Arial;
}
.inner-page div[role="main"] .second-column .wrap .total-points td.pts {
  font-family: Arial;
  font-weight: bold;
}
.inner-page div[role="main"] .second-column .wrap .total-points td.acy {
  font-family: Arial;
  font-weight: bold;
}
.inner-page div[role="main"] .second-column .wrap .league th {
  font-family: Arial;
}
.inner-page div[role="main"] .second-column .wrap .league td {
  font-family: Arial;
  font-weight: bold;
}
.inner-page div[role="main"] .second-column .wrap p.full a {
  font-family: Arial;
}
.inner-page div[role="main"] .second-column .login section p {
  font-family: Arial;
}
.inner-page div[role="main"] .second-column .login section .cta {
  font-family: Arial;
  font-weight: bold;
}
.inner-page div[role="main"] .second-column .facebook-invite a.facebook {
  font-family: Arial;
}
@media only screen and (max-width: 1024px) {
  .inner-page div[role="main"] .second-column .login section p {
   font-family: Arial;
  }
  .inner-page div[role="main"] .second-column .login section .cta {
    font-family: Arial;
  font-weight: bold;
  }
  .inner-page div[role="main"] .second-column .facebook-invite h1 {
    font-family: Arial;
  font-weight: bold;
  }
  .inner-page div[role="main"] .second-column .facebook-invite p {
    font-family: Arial;
  }
  .inner-page div[role="main"] .second-column .facebook-invite a.facebook {
    font-family: Arial;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .inner-page div[role="main"] .second-column .login section p {
    font-family: Arial;
  }
  .inner-page div[role="main"] .second-column .login section .cta {
    font-family: Arial;
  font-weight: bold;
  }
  .inner-page div[role="main"] .second-column .facebook-invite h1 {
    font-family: Arial;
  font-weight: bold;
  }
  .inner-page div[role="main"] .second-column .facebook-invite p {
    font-family: Arial;
  }
  .inner-page div[role="main"] .second-column .facebook-invite a.facebook {
    font-family: Arial;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .inner-page div[role="main"] .second-column .login section p {
    font-family: Arial;
  }
  .inner-page div[role="main"] .second-column .login section .cta {
    font-family: Arial;
  font-weight: bold;
  }
  .inner-page div[role="main"] .second-column .facebook-invite h1 {
    padding: 0 0 0.4em;
    font: bold 2.3em/1 Helvetica, Arial;
  }
  .inner-page div[role="main"] .second-column .facebook-invite p {
    font-family: Arial;
  }
}
.carousel-wrap > header .game-date {
  font-family: Arial;
  font-weight: bold;
}
.carousel-wrap > header li a {
  font-family: Arial;
  font-weight: bold;
}
.carousel-wrap > header .flag-new-prediction span {
  font-family: Arial;
}
.carousel-wrap .competition-countdown h4,
.carousel-wrap .competition-countdown p {
  font-family: Arial;
  font-weight: bold;
}
.carousel-wrap .competition-countdown p {
  font-family: Arial;
}
.carousel-wrap .competition-countdown strong {
  font-family: Arial;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-wrap > header .game-date {
    font-family: Arial;
  font-weight: bold;
  }
  .carousel-wrap > header li a {
    font-family: Arial;
  font-weight: bold;
  }
}
.make-prediction .make-prediction-content .home-team label figure figcaption,
.make-prediction .make-prediction-content .away-team label figure figcaption {
  font-family: Arial;
  font-weight: bold;
}
.make-prediction .make-prediction-content .home-team .ideal-field input[type="text"],
.make-prediction .make-prediction-content .away-team .ideal-field input[type="text"] {
  font-family: Arial;
  font-weight: bold;
}
.make-prediction .make-prediction-content .league-logo em {
  font-family: Arial;
  font-weight: bold;
}
.make-prediction .make-prediction-content .league-logo span {
  font-family: Arial;
  font-weight: bold;
}
.make-prediction .make-prediction-content .buttons-block button {
  font-family: Arial;
  font-weight: bold;
}
.make-prediction .make-prediction-content .buttons-block .home-team-scorers h4,
.make-prediction .make-prediction-content .buttons-block .away-team-scorers h4 {
  font-family: Arial;
  font-weight: bold;
}
.make-prediction .make-prediction-content .buttons-block .home-team-scorers li,
.make-prediction .make-prediction-content .buttons-block .away-team-scorers li {
  font-family: Arial;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .make-prediction .make-prediction-content .buttons-block .home-team-scorers h4,
  .make-prediction .make-prediction-content .buttons-block .away-team-scorers h4 {
    font-family: Arial;
  font-weight: bold;
  }
  .make-prediction .make-prediction-content .buttons-block .home-team-scorers li,
  .make-prediction .make-prediction-content .buttons-block .away-team-scorers li {
    font-family: Arial;
  }
}
.your-results-content .scorers .home-team figure figcaption,
.your-results-content .scorers .away-team figure figcaption {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .scorers .home-team section strong,
.your-results-content .scorers .away-team section strong {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .scorers .home-team section ul li,
.your-results-content .scorers .away-team section ul li {
  font-family: Arial;
}
.your-results-content .scorers .league-block strong {
  font-family: Arial;
}
.your-results-content .scorers .league-block em {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .scorers .league-block span {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .points table th {
  font-family: Arial;
}
.your-results-content .points table th.total {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .points table td {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .points table td.total h3 {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .points table td.total strong {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .points table td.total strong abbr {
  font-family: Arial;
}
.your-results-content .award article h2 {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .award article p {
  font-family: Arial;
}
.your-results-content .award article footer h3 {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content .scorers + p {
  font-family: Arial;
}
.your-results-content .scorers + p a {
  font-family: Arial;
  font-weight: bold;
}
.your-results-content.match-in-progress .scorers h2 {
  font-family: Arial;
    font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .your-results .your-results-content .scorers .home-team section ul li,
  .your-results .your-results-content .scorers .away-team section ul li {
    font-family: Arial;
  }
  .your-results .your-results-content .scorers .league-block strong {
    font-family: Arial;
  }
  .your-results .your-results-content .scorers .league-block span {
    font-family: Arial;
    font-weight: bold;
  }
  .your-results .your-results-content .points table th {
    font-family: Arial;
  }
  .your-results .your-results-content .points table td {
    font-family: Arial;
    font-weight: bold;
  }
  .your-results .your-results-content .award article p {
    font-family: Arial;
  }
  .your-results .your-results-content .scorers + p {
    font-family: Arial;
  }
  .your-results .your-results-content.match-in-progress .scorers h2 {
    font-family: Arial;
    font-weight: bold;
  }
}
