.pink {
  background: rgb(212,169,53);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0YTkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjODk4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(212,169,53,1) 0%, rgba(200,152,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,169,53,1)), color-stop(100%,rgba(200,152,0,1)));
  background: -webkit-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a935', endColorstr='#c89800',GradientType=0 );

  border: 1px solid #9e8031;
}

.banner .cta, 
.ready-try .cta, 
aside.ready-try .cta,
.make-prediction .make-prediction-content .buttons-block button,
#setup-dialog footer button.pink,
.inner-page div[role="main"] .second-column .login section .cta,
#setup-dialog.setup-mobile.dialog footer button.pink  {
  background: rgb(212,169,53);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0YTkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjODk4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(212,169,53,1) 0%, rgba(200,152,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,169,53,1)), color-stop(100%,rgba(200,152,0,1)));
  background: -webkit-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a935', endColorstr='#c89800',GradientType=0 );

  width: 15em;
  border: 1px solid #9e8031;
  text-transform: uppercase;
}
.banner .cta {
  width: 15em;
}

.banner figcaption {
  font-family: Arial;
  font-weight: bold;
}

.pink:hover,
.banner .cta:hover, 
.ready-try .cta:hover, 
aside.ready-try .cta:hover,
.make-prediction .make-prediction-content .buttons-block button:hover,
#setup-dialog footer button.pink:hover,
.inner-page div[role="main"] .second-column .login section .cta:hover,
#setup-dialog.setup-mobile.dialog footer button.pink:hover {
  /*background: #fff;
  color: #be4f2b;*/
  color: #fff;
  background: rgb(212,169,53);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0YTkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjODk4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(212,169,53,1) 0%, rgba(200,152,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,169,53,1)), color-stop(100%,rgba(200,152,0,1)));
  background: -webkit-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(212,169,53,1) 0%,rgba(200,152,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a935', endColorstr='#c89800',GradientType=0 );
}

#setup-dialog footer button.pink,
#setup-dialog.setup-mobile.dialog footer button.pink  {
  width: 18.5em;
}

aside.find-out-more {
  display: none;
}

.article-image h2 {
  color: #144a9b;
}

.lt-ie9 .main-navigation {
  background: none;
}
.ie8 .main-navigation li.user-navigation summary {
  height: 5.2em;
}
.main-navigation li.active, .main-navigation li:hover {
  background: #0081c8;
}
.main-navigation li.active a, .main-navigation li:hover a {
  color: #fff;
}
.main-navigation li.user-navigation:hover .popup-content li a, .main-navigation li.user-navigation .popup-content li a:hover   {
  color: #202020;
}
.main-navigation li.user-navigation:hover .popup-content li.user-profile a, .main-navigation li.user-navigation .popup-content li.user-profile a {
  color: #144a9b;
}
.main-navigation li .flag-unread-items {
  border-top: 1.4em solid #ffca00;
}
.carousel-wrap>header .flag-new-prediction:before {
  border-top: 4em solid #ffca00;
}
.main-navigation li .flag-unread-items span {
  color: #000;
}
.carousel-wrap>header .flag-new-prediction span {
  color: #000;
  font-family: Arial;
  font-weight: bold;
}
.carousel-wrap>header {
  background: #0a2344;
}
.carousel-wrap>header li {
  background: rgb(114,169,216);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyYTlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjg2YzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(114,169,216,1) 0%, rgba(63,134,198,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,169,216,1)), color-stop(100%,rgba(63,134,198,1)));
  background: -webkit-linear-gradient(top,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  background: -o-linear-gradient(top,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  background: -ms-linear-gradient(top,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  background: linear-gradient(to bottom,  rgba(114,169,216,1) 0%,rgba(63,134,198,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a9d8', endColorstr='#3f86c6',GradientType=0 );

}
.carousel-wrap>header li a:hover {
  color: #a5c9e6;
}

.fixtures table tr.flag-new-prediction td.action-block div strong {
  border-top: 1.2em solid #ffca00;
}
.fixtures table tr.flag-new-prediction td {
  border-top: 1px solid #ffca00;
}

.lt-ie8  .make-prediction > header .flag-new-prediction small {
  border-top: 4em solid #ffca00!important;
}

.lt-ie8 .carousel-wrap>header .flag-new-prediction small {
  border-top: 4em solid #ffca00!important;
}


@media screen and (max-width: 767px) {
  .main-navigation a.mobilenav {
    background-color: #003366;
  }
  .main-navigation ul {
    border-bottom: 4px solid #003366;
  }
  .main-navigation ul li .flag-unread-items {
    border-top: 1.4em solid #ffca00;
  }
  .main-navigation ul li.user-navigation .popup-content ul {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .main-navigation a.mobilenav {
    background-color: #003366;
  }
  .main-navigation ul {
    border-bottom: 4px solid #003366;
  }
  .main-navigation ul li .flag-unread-items {
    border-top: 1.4em solid #ffca00;
  }
  .main-navigation ul li.user-navigation .popup-content ul {
    margin-bottom: 4px;
  }
}



.grid-layout .item.pie-chart.top5-predicted-scores section {
  background: #e6edf8;
}
.grid-layout .item.pie-chart.top5-predicted-scores section h1 {
  color: #4d4d4d;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(1):before {
  background: #4d4d4d;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(2):before {
  background: #666665;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(3):before {
  background: #818080;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(4):before {
  background: #999999;
}
.grid-layout .item.pie-chart.top5-predicted-scores section ol.legend li:nth-child(5):before {
  background: #b2b2b2;
}

.grid-layout .item.players.particular-player section div h1 {
  color: #b8b6b5;
}

.lt-ie8 .grid-layout .item.pie-chart.top5-predicted-scores section figure ol.legend li:first-child small {
  background: #4d4d4d;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * small {
  background: #666665;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * small {
  background: #818080;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * +* small {
  background: #999999;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + * + * small {
  background: #b2b2b2;
}


/***/
body, * {
  font-family: Arial;
}

.grid-layout .item.summary section p em {
  font-style: normal;
  font-family: Arial;
}

/***normal***/
.inner-page div[role="main"] .first-column > hgroup h2,
.inner-page div[role="main"] .match-banner article p,
footer[role="contentinfo"],
.main-navigation li.user-navigation .popup-content li,
.main-navigation li.user-navigation .popup-content li.user-profile a,
.ideal-form.stack select,
.ideal-form .buttons-block button,
.ideal-form .buttons button,
.ideal-form .ideal-error,
.grid-layout .item.pie-chart section p,
.grid-layout .item.pie-chart section ol li,
.grid-layout .item.stacked-bar section figure ol.legend li,
.grid-layout .item.featured-player section div li,
.grid-layout .item.help-tip section p,
.grid-layout .item.blockquote section figure figcaption,
.grid-layout .item.top-predicted-scorers section div ol li,
.grid-layout .item.top-predicted-scorers section div ol li.big strong,
.grid-layout .item.summary section p,
.grid-layout .item.summary.left section figcaption,
.grid-layout .item.top-scorers section div section li,
.grid-layout .item.players section div section li,
.user-content p,
.user-content pre,
.user-content address,
.user-content h1,
.user-content h3,
.user-content h4,
.user-content h5,
.user-content h6,
.user-content li,
.user-content dt,
.user-content dd,
.user-content dd pre,
.user-content li li,
.user-content li p,
.user-content a,
#setup-dialog section p,
#setup-dialog section fieldset label.ideal-radiocheck-label,
#setup-dialog.setup-mobile.dialog section p,
#setup-dialog.setup-mobile.dialog section fieldset label.ideal-radiocheck-label,
.errors-page article.error p,
.errors-page article + article.user-content p,
.errors-page article + article.user-content li,
.errors-page article + article.user-content dd,
.errors-page article + article.user-content dd pre,
.article-image p,
.registration label,
.registration .field p,
.registration .avatar .desktopLabel,
.registration .email-settings label,
.registration.sign-in .buttons-block p,
.form-errors,
.success-message,
aside.connect-facebook p,
p.intro,
.league-tables .league table tr th abbr,
.league-tables .league table tr td,
.league-tables .league article p,
.privacy .privacy-content p,
.privacy .privacy-content li h2,
.privacy .privacy-content li p,
.support .faqs dd,
.login-area > p,
.login-area details .login-form p,
.login-area details .login-form .field input,
.inner-page div[role="main"] .second-column .wrap .user-profile a,
.inner-page div[role="main"] .second-column .wrap .total-points th,
.inner-page div[role="main"] .second-column .wrap .league th,
.inner-page div[role="main"] .second-column .wrap p.full a,
.inner-page div[role="main"] .second-column .login section p,
.inner-page div[role="main"] .second-column .facebook-invite a.facebook,
.carousel-wrap > header .flag-new-prediction span,
.carousel-wrap .competition-countdown p,
.make-prediction .make-prediction-content .buttons-block .home-team-scorers li,
.make-prediction .make-prediction-content .buttons-block .away-team-scorers li,
.your-results-content .scorers .home-team section ul li,
.your-results-content .scorers .away-team section ul li,
.your-results-content .scorers .league-block strong,
.your-results-content .points table th,
.your-results-content .points table td.total strong abbr,
.your-results-content .award article p,
.your-results-content .scorers + p,
#message-dialog .item > div header h1,
#message-dialog .item > div > section h2,
#message-dialog .item > div > section .results li strong abbr,
.cookie-dialog section p    {
  font-family: Arial;
}

/***bold***/
.inner-page div[role="main"] h1,
.pink,
a.more-info,
a.show-more,
.inner-page div[role="main"] .match-banner article footer h3,
footer[role="contentinfo"] article h2,
footer[role="contentinfo"] > div > p a,
.main-navigation li,
.main-navigation li.user-navigation .popup-content li.user-profile strong,
.main-navigation li .flag-unread-items span,
.ideal-form .buttons-block button[type="submit"],
.ideal-form .buttons button[type="submit"],
.grid-layout .item.pie-chart section figure div .pieLabel,
.grid-layout .item.pie-chart section h1,
.grid-layout .item.stacked-bar section h1,
.grid-layout .item.stacked-bar section figure > ol li span,
.grid-layout .item.featured-player section div hgroup h1,
.grid-layout .item.featured-player section div hgroup h2,
.grid-layout .item.featured-player section div li strong,
.grid-layout .item.featured-player section div li:first-child strong,
.grid-layout .item.help-tip section h1,
.grid-layout .item.blockquote section figure blockquote,
.grid-layout .item.blockquote section figure blockquote:before,
.grid-layout .item.top-predicted-scorers section div h1,
.grid-layout .item.top-predicted-scorers section div ol li.big strong sup,
.grid-layout .item.top-predicted-scorers section div ol li.middle strong,
.grid-layout .item.top-predicted-scorers section div ol li.small strong,
.grid-layout .item.summary section p strong,
.grid-layout .item.summary.left section figure div .pieLabel,
.grid-layout .item.summary.left section figure div.your-place p,
.grid-layout .item.summary.left section figure div.your-place p strong,
.grid-layout .item.summary.left section figure div.your-place.no-dynamic p strong,
.grid-layout .item.top-scorers section div h1,
.grid-layout .item.players section div h1,
.user-content h2,
#setup-dialog header p,
#setup-dialog section h1,
#setup-dialog section p.note,
#setup-dialog section fieldset label,
#setup-dialog footer button.pink,
#setup-dialog.setup-mobile.dialog section h1,
#setup-dialog.setup-mobile.dialog section p.note,
#setup-dialog.setup-mobile.dialog section fieldset label,
#setup-dialog.setup-mobile.dialog footer button.pink,
.errors-page article.error h2,
.errors-page article.error figure div,
.errors-page article + article.user-content h3,
.message article p.note,
.article-image h2,
aside.ready-try,
aside.ready-try .cta,
.registration .ideal-form h2,
.registration .field p strong,
.registration .email-settings label a,
.registration .buttons a,
.registration.sign-in .buttons-block p a,
aside.connect-facebook h2,
aside.connect-facebook .login-with-facebook span,
.fixtures table tr td figcaption,
.fixtures table tr td.action-block time,
.fixtures table tr td.action-block abbr,
.fixtures table tr td.action-block em,
.fixtures table tr td.action-block a,
.fixtures table tr td figcaption input[type="text"],
.league-tables .league header h2,
.league-tables .league table tr th h3,
.league-tables .league table tr td.points,
.league-tables .league table tr.your-table-position td.position,
.league-tables .league table tr.your-table-position td.player,
.league-tables .league footer h4,
.league-tables .league article h1,
.league-tables .league article p a,
.support .faqs dt,
.support .faqs dt:before,
.support .faqs dd:before,
.banner .cta,
.ready-try .cta,
.login-area > p .login-with-facebook span,
.login-area details summary,
.login-area details .login-form p a,
.login-area details .login-form .field label,
.login-area details .login-form .signin-button input,
.inner-page div[role="main"] .second-column .wrap h1,
.inner-page div[role="main"] .second-column .wrap .user-profile h1,
.inner-page div[role="main"] .second-column .wrap .total-points td.pts,
.inner-page div[role="main"] .second-column .wrap .total-points td.acy,
.inner-page div[role="main"] .second-column .wrap .league td,
.inner-page div[role="main"] .second-column .login section .cta,
.carousel-wrap > header .game-date,
.carousel-wrap > header li a,
.carousel-wrap .competition-countdown h4,
.carousel-wrap .competition-countdown p,
.carousel-wrap .competition-countdown strong,
.make-prediction .make-prediction-content .home-team label figure figcaption,
.make-prediction .make-prediction-content .away-team label figure figcaption,
.make-prediction .make-prediction-content .home-team .ideal-field input[type="text"],
.make-prediction .make-prediction-content .away-team .ideal-field input[type="text"],
.make-prediction .make-prediction-content .league-logo em,
.make-prediction .make-prediction-content .league-logo span,
.make-prediction .make-prediction-content .buttons-block button,
.make-prediction .make-prediction-content .buttons-block .home-team-scorers h4,
.make-prediction .make-prediction-content .buttons-block .away-team-scorers h4,
.your-results-content .scorers .home-team figure figcaption,
.your-results-content .scorers .away-team figure figcaption,
.your-results-content .scorers .home-team section strong,
.your-results-content .scorers .away-team section strong,
.your-results-content .scorers .league-block em,
.your-results-content .scorers .league-block span,
.your-results-content .points table th.total,
.your-results-content .points table td,
.your-results-content .points table td.total h3,
.your-results-content .points table td.total strong,
.your-results-content .award article h2,
.your-results-content .award article footer h3,
.your-results-content .scorers + p a,
.your-results-content.match-in-progress .scorers h2,
.prizes .prizes-banner figcaption footer p,
.prizes .mini-league-prizes article figure figcaption,
#message-dialog .item > div header time,
#message-dialog .item > div > section .results li strong,
#message-dialog .item > div > section .see-full,
.cookie-dialog section a,
.cookie-dialog section button   {
  font-family: Arial;
  font-weight: bold;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .grid-layout .item.pie-chart section figure div .pieLabel,
  .grid-layout .item.pie-chart section h1,
  .grid-layout .item.stacked-bar section h1,
  .grid-layout .item.stacked-bar section figure > ol li span,
  .grid-layout .item.featured-player section div hgroup h2,
  .grid-layout .item.featured-player section div li strong,
  .grid-layout .item.featured-player section div li:first-child strong,
  .grid-layout .item.help-tip section h1,
  .grid-layout .item.blockquote section figure blockquote,
  .grid-layout .item.blockquote section figure blockquote:before,
  .grid-layout .item.top-predicted-scorers section div h1,
  .grid-layout .item.top-predicted-scorers section div ol li.big strong,
  .grid-layout .item.top-predicted-scorers section div ol li.big strong sup,
  .grid-layout .item.top-predicted-scorers section div ol li.middle strong,
  .grid-layout .item.top-predicted-scorers section div ol li.small strong,
  .grid-layout .item.summary section p strong,
  .grid-layout .item.summary.left section figure div .pieLabel,
  .errors-page article.error h2,
  .errors-page article.error figure div,
  .errors-page article + article.user-content h3,
  .article-image-left.user-content h2,
  .article-image-right.user-content h2,
  div[role="main"] aside.ready-try,
  .fixtures table tr td.home-team figcaption,
  .fixtures table tr td.away-team figcaption,
  .fixtures table tr td.action-block div a,
  .fixtures table tr td.action-block div time,
  .fixtures table tr td.action-block div abbr,
  .league-tables .league header h2,
  .league-tables .league table tr th h3,
  .league-tables .league article h1,
  .league-tables .league article p a,
  .prizes .prizes-banner figcaption h1,
  .prizes .prizes-banner figcaption h2,
  .support .faqs dt,
  .support .faqs dd:before,
  .banner figcaption,
  .banner figcaption .cta,
  .home-page .banner figcaption,
  .home-page .banner figcaption .cta,
  .login-area > p .login-with-facebook span,
  .login-area details summary,
  .inner-page div[role="main"] .second-column .login section .cta,
  .inner-page div[role="main"] .second-column .facebook-invite h1,
  .carousel-wrap > header .game-date,
  .carousel-wrap > header li a,
  .make-prediction .make-prediction-content .buttons-block .home-team-scorers h4,
  .make-prediction .make-prediction-content .buttons-block .away-team-scorers h4,
  .your-results .your-results-content .scorers .league-block span,
  .your-results .your-results-content .points table td,
  .your-results .your-results-content.match-in-progress .scorers h2,
  .inner-page div[role="main"] .match-banner article h1,
  .inner-page div[role="main"] .match-banner article footer h3,
  footer[role="contentinfo"] article h2  {
    font-family: Arial;
    font-weight: bold;
  }
  .grid-layout .item.pie-chart section p,
  .grid-layout .item.stacked-bar section figure ol.legend li,
  .grid-layout .item.featured-player section div li,
  .grid-layout .item.help-tip section p,
  .grid-layout .item.top-predicted-scorers section div ol li,
  .grid-layout .item.summary section p,
  .grid-layout .item.summary.left section figcaption,
  .grid-layout .item.blockquote section figure figcaption,
  .user-content p,
  .user-content pre,
  .user-content address,
  .errors-page article.error p,
  .errors-page article + article.user-content p,
  .errors-page article + article.user-content li,
  .errors-page article + article.user-content dd,
  .errors-page article + article.user-content dd pre,
  .fixtures table tr td.action-block div span,
  .league-tables .league table tr td,
  .league-tables .league article p,
  .prizes .prizes-banner figcaption p,
  .inner-page div[role="main"] .second-column .login section p,
  .inner-page div[role="main"] .second-column .facebook-invite p,
  .inner-page div[role="main"] .second-column .facebook-invite a.facebook,
  .make-prediction .make-prediction-content .buttons-block .home-team-scorers li,
  .make-prediction .make-prediction-content .buttons-block .away-team-scorers li,
  .your-results .your-results-content .scorers .home-team section ul li,
  .your-results .your-results-content .scorers .away-team section ul li,
  .your-results .your-results-content .scorers .league-block strong,
  .your-results .your-results-content .points table th,
  .your-results .your-results-content .award article p,
  .your-results .your-results-content .scorers + p,
  .inner-page div[role="main"] .match-banner article p,
  footer[role="contentinfo"]   {
    font-family: Arial;
  }
}
@media screen and (max-width: 767px) {
  .main-navigation ul li,
  .main-navigation ul li.user-navigation .popup-content li.user-profile strong  {
    font-family: Arial;
    font-weight: bold;
  }
  .main-navigation ul li.user-navigation .popup-content li,
  .main-navigation ul li.user-navigation .popup-content li.user-profile a  {
    font-family: Arial;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .errors-page article.error p,
  .errors-page article + article.user-content p,
  .errors-page article + article.user-content li,
  .errors-page article + article.user-content dd,
  .errors-page article + article.user-content dd pre,
  .registration p.intro,
  .registration .buttons-block div button,
  .prizes .prizes-banner figcaption p,
  .inner-page div[role="main"] .match-banner article p  {
    font-family: Arial;
  }
  .errors-page article + article.user-content h3,
  .registration .ideal-form h2,
  .prizes .prizes-banner figcaption h1,
  .prizes .prizes-banner figcaption h2,
  .prizes .prizes-banner figcaption footer p,
  .banner figcaption,
  .banner aside.connect-facebook .login-with-facebook span,
  .inner-page div[role="main"] .match-banner article footer h3 {
    font-family: Arial;
    font-weight: bold;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .user-content p,
  .user-content pre,
  .user-content address,
  .user-content li,
  .prizes .prizes-banner figcaption p,
  .privacy .privacy-content.user-content p,
  .privacy .privacy-content.user-content li p {
    font-family: Arial;
  }
  .user-content h2 {
    font-family: Arial;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  #setup-dialog .ideal-form header p,
  #setup-dialog .ideal-form footer button.pink,
  .registration .buttons-block.signIn-buttons-block p,
  .ideal-form .buttons-block button[type="submit"],
  .ideal-form .buttons button[type="submit"],
  .ideal-form .buttons a,
  .inner-page div[role="main"] .second-column .login section .cta,
  .inner-page div[role="main"] .second-column .facebook-invite h1 {
    font-family: Arial;
    font-weight: bold;
  }
  #setup-dialog .ideal-form section p,
  .registration .form-errors,
  .registration .success-message,
  aside.connect-facebook p,
  .inner-page div[role="main"] .second-column .login section p,
  .inner-page div[role="main"] .second-column .facebook-invite p,
  footer[role="contentinfo"]  {
    font-family: Arial;
  }
}


@media only screen and (max-width: 1024px) {
  .inner-page div[role="main"] .second-column .login section p,
  .inner-page div[role="main"] .second-column .facebook-invite p,
  .inner-page div[role="main"] .second-column .facebook-invite a.facebook  {
   font-family: Arial;
  }
  .inner-page div[role="main"] .second-column .login section .cta,
  .inner-page div[role="main"] .second-column .facebook-invite h1 {
    font-family: Arial;
    font-weight: bold;
  }
}






