@media only screen and (min-width: 1025px) {
  .inner-page div[role="main"] {
    margin-bottom: 4em;
  }

  .inner-page div[role="main"].two-column-section .first-column {
    margin: 0;
    max-width: 90.4em;
    float: left;
    width: 74%;
  }
  .inner-page div[role="main"].two-column-section aside[role="complementary"] {
    display: block;
    float: left;
    width: 26%;
  }
}

.lt-ie9 #wrapper {
  min-width: 480px;
}
.lt-ie8 #wrapper {
  min-width: 600px;
}

.lt-ie9 footer[role="contentinfo"] {
  font: normal 1.4em/1.2 "ProximaNova-Reg",Helvetica,Arial!important;
}

.lt-ie9 .first-column {
  border-right: 1px solid #f4f4f4;
}


.lt-ie9 .login-area details {
    background: #9b9da0;
}
.lt-ie9  details .login-form {
    width: 29.6em;
}
.lt-ie9.ie8  details .login-form {
    width: 34.1em;
}
.lt-ie9 aside.find-out-more {
  width: 253px;
  height: 65px;
}


/***article-image***/
.lt-ie8 .article-image.article-image-left figure {
    float: none;
    display: block;
    margin-left: 0;
}
.lt-ie8 .article-image.article-image-right figure {
    display: inline;
    float: right;
    right: 0;
}
.lt-ie8 .article-image.article-image-left figure img {
    margin-left: 0;
}

.lt-ie8 .article-image.article-image-left > div, .lt-ie8 .article-image.article-image-right > div {
    float: left;
    margin: 11.6em 3em 3em 8em;
    padding: 0;
    padding-bottom: 3em;
    width: 40em;
}
.lt-ie8 .inner-page .article-image.article-image-left > div, .lt-ie8 .inner-page .article-image.article-image-right > div  {
    margin: 4.6em 3em 3em 3.6em; 
    width: 40%;
}
.lt-ie8 .article-image.article-image-left > div {
  float: right;
  margin: 11.6em 8em 3em 3em;
  padding: 0;
  padding-bottom: 3em;
}
.lt-ie8 .inner-page .article-image.article-image-left > div {
  margin: 4.6em 3.6em 3em 3em; 
}
.lt-ie8 .inner-page .article-image figure {
  width: 50%;
}
.lt-ie8 .inner-page .article-image.article-image-left figure {
  margin-right: 0;
}

.lt-ie9.ie8 .ideal-file-upload {
  line-height: 2;
}
.ie8 .inner-page .article-image.article-image-left > div {
  width: 80%;
/*  padding: 4.6em 0 3em 0;*/
}


.lt-ie8 .inner-page div[role="main"] .second-column .wrap .league th, .lt-ie8 .inner-page div[role="main"] .second-column .wrap .league td {
  border-bottom: 1px solid #CCCCCC;
}

.lt-ie9 .inner-page div[role="main"] .second-column .login section p {
  font: normal 1.4em/1.2 "ProximaNova-Reg",Helvetica,Arial!important;
}
.lt-ie9 .inner-page div[role="main"] .second-column .login section .cta {
  font: normal 1.8em/2.4 "ProximaNova-Bold",Helvetica,Arial!important;
}

.lt-ie8 .inner-page div[role="main"] .second-column .facebook-invite a.facebook {
*zoom: expression( 
          this.runtimeStyle.zoom="1",
          this.appendChild( document.createElement("small") ).className="before"
         );
}
.lt-ie8 .inner-page div[role="main"] .second-column .facebook-invite a.facebook small {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20%;
  height: 100%;
  border-right: 2px solid #3f5598;
  background: url("../img/icons/facebook.png") no-repeat scroll center center transparent;
}


/***registration***/
.lt-ie8  .registration form div {
    display: block;
    width: 500px;
    margin: 0 auto 0.5em;
}
@media screen and (max-width: 1024px) {
  .lt-ie8 .registration form div.block-input-file, .lt-ie8  .registration .avatar .desktopLabel {
    display: none;
  }
}
.lt-ie8  .registration form div:first-child, .lt-ie8  .registration form div.ideal-full-width {
  width: 100%;
}
.lt-ie8  .registration form div.form-errors, .lt-ie8  .registration form div.success-message {
  margin: 2em 2em 2em 2.6em;
  padding: 1.2em 1.2em 0;
  width: auto;
}
.lt-ie8  .registration label {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.lt-ie8  .registration label {
    display: inline-block;
    width: 11.9em;
    color: #4e4e4e;
    text-align: left;
    font: normal 1.7em/2 "ProximaNova-Reg", Helvetica, Arial;
}
.lt-ie8 .registration input[type="text"], .lt-ie8  .registration input[type="password"], .lt-ie8 .registration input[type="file"] {
    padding: 0 0.4em;
    width: 265px; /*16.7em;*/
    height: 2.2em;
    border: 1px solid #d8d8d8;
    background: #fff;
    color: #606060;
    text-align: left;
    font: normal 1.6em/2 "ProximaNova-Reg", Helvetica, Arial;
}
.lt-ie8  .registration select {
    width: 280px; /*17.6em;*/
    height: 2.2em;
    border: 1px solid #d8d8d8;
    background: #fff;
    color: #606060;
    font: normal 1.6em/2 "ProximaNova-Reg", Helvetica, Arial;
}
.lt-ie8 .registration .date-birth select {
    margin: 0 1.1em 0 0;
}
.lt-ie8 .registration .date-birth select.day {
    width: 3.2em;
}
.lt-ie8 .registration .date-birth select.month {
    width: 8.3em;
}
.lt-ie8 .registration .date-birth select.year {
    margin: 0;
    width: 4.3em;
}
.lt-ie8 .registration label.female {
  margin: 0 0  10px 204px;

}

.lt-ie8 .registration .desktopLabel {
  padding: 0.5em 2em 0.5em 0 ;
  float: none;
}
.lt-ie8 .registration .avatar  {
  max-width: 600px;
}
.lt-ie8 .registration .avatar label {
  width: auto;
}
.lt-ie8 .registration input[type="checkbox"] {
    margin: 0.3em 0 0;
    vertical-align: top;
}
.lt-ie8 .registration  .block-input-file input[type="file"] {
  float: left;
}
.lt-ie8 .registration .email-settings label {
  float: none;
  display: block;
  width: 100%;
}
.lt-ie8 .registration .email-settings span {
    margin: 0 0 1em 1em;
    min-width: 26em;
    font: normal 1.1em/1.2 "ProximaNova-Reg", Helvetica, Arial;
}
.lt-ie8 .registration label.error {
    display: block;
    margin: 0 0 0.2em 17.2em;
    color: red;
    text-align: left;
    font: normal 1.2em/2 "ProximaNova-Reg", Helvetica, Arial;
}
.lt-ie8 .registration.sign-in form div {
  width: 430px;
}
.lt-ie8 .registration.sign-in .ideal-form h2 {
  margin:  0 0 15px -215px;
}
.lt-ie8 .registration.sign-in label {
  width: 140px;
}
.lt-ie8 .registration.sign-in .buttons-block {
  max-width: 460px;
}
.lt-ie8 .registration.sign-in .buttons-block div, .lt-ie8 .registration form .buttons-block div {
  float: right;
  width: auto;
}
.lt-ie8 .registration form .buttons {
  margin: 0.5em 0 0;
  width: auto;
  text-align: right;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .lt-ie8 .registration .buttons a  {
    position: relative;
    left: 0;
    float: right;
    margin: .5em 1em 0 -9em;
  }
}
.lt-ie8 .registration .keeplogin input {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.lt-ie8 .registration .field {
  left: 0;
  float: none;
}
.lt-ie8 .registration .field label {
  float: left;
  width: 11.2em; /*190px;*/
}
.lt-ie8 .registration .field p {
  float: left;
}



.lt-ie9  #setup-dialog .ideal-form footer button.pink {
  font: normal 2em/2.1 "ProximaNova-Bold",Helvetica,Arial;
}
.ie8  #setup-dialog .ideal-form footer button.pink {
  margin: 1em 0;
}
.ie8 .dialog {
  height: 600px;
}
.ie8  #setup-dialog .ideal-form section fieldset {
  width: 100%;
}


/***make-prediction-content***/
.lt-ie8 .make-prediction > header {
  height: 4.4em;
}
.lt-ie8 .make-prediction-content .home-team  {
  float: left;
  margin: 0 2em 0;
  width: 38%;
}
.lt-ie8 .make-prediction-content .home-team label {
  float: left;
}
.lt-ie8 .make-prediction-content .league-logo {
  float: left;
  margin: 0 2em 0;
}
.lt-ie8 .make-prediction-content .away-team {
  float: right;
  margin: 0 2em 0;
  width: 38%;
}
.lt-ie8 .make-prediction-content .home-team input, .lt-ie8 .make-prediction-content .away-team input {
  width: 90px;
  max-width: 90px;
  height: 50px;
  margin: 0 0 1em;
  text-align: center;
  font: normal 5.3em/1 "ProximaNova-Bold", Helvetica, Arial;
}
.lt-ie8 .make-prediction-content .home-team select, .lt-ie8 .make-prediction-content .away-team select {
  margin: 1em 0 1em;
}
.lt-ie8 .make-prediction .make-prediction-content .league-logo em {
  margin: 0 0 1em;
}
.lt-ie8  .make-prediction > header .flag-new-prediction {
  /*background: #de1012;*/
  height: 3em;
  bottom: -3em;
  *zoom: expression( 
          this.runtimeStyle.zoom="1",
          this.appendChild( document.createElement("small") ).className="before"
         );
}
.lt-ie8  .make-prediction > header .flag-new-prediction small {
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-left: 8em solid transparent;
  border-right: 8em solid transparent;
  border-top: 4em solid #de1012;
}


.lt-ie8  .make-prediction .make-prediction-content .buttons-block .buttons-wrapper {
  width: 49%!important;
}

/***fixtures***/
.ie8 .fixtures table {
  border-collapse: separate;
  position: relative;
}
.ie8 .fixtures table tr.flag-new-prediction td {
  position: relative;
}
.lt-ie8 .fixtures table tr td.action-block a {
  display: block;
}
.lt-ie8 .fixtures table tr td.action-block, .lt-ie8 .fixtures table tr td.action-block div {
  width: 17em;
}


/***your-results***/
.lt-ie8 .your-results > header {
  height: 4.4em;
}
.lt-ie8 .your-results .your-results-content .scorers .home-team  {
  float: left;
  margin: 0 2em 0 1em;
  width: 35%!important;
}

.lt-ie8 .your-results-content .league-block {
  float: left;
  margin: 0 2em 0;
}
.lt-ie8 .your-results .your-results-content .scorers .away-team {
  float: right;
  margin: 0 1em 0 2em;
  width: 35%!important;
}
.lt-ie8 .your-results .your-results-content .scorers .league-block {
  width: 18%;
}
@media only screen and (min-width: 320px) and (max-width:  767px) {
  .lt-ie8 .your-results .your-results-content .scorers .league-block {
    width: 24%;
  }
}
.lt-ie8 .your-results .your-results-content .league-block em {
  margin: 0 0 1em;
}
.lt-ie8  .your-results > header .flag-new-prediction {
/*  background: #de1012;*/
position: relative;
  height: 3em;
  bottom: -4.4em;
  *zoom: expression( 
          this.runtimeStyle.zoom="1",
          this.appendChild( document.createElement("small") ).className="before"
         );
}
.lt-ie8  .your-results > header .flag-new-prediction small {
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-left: 8em solid transparent;
  border-right: 8em solid transparent;
  border-top: 4em solid #de1012;
}
.lt-ie8  .your-results-content .points table td.total strong {
  line-height: 1;
}


/***setup***/
.lt-ie8 #setup-dialog header {
  background: #dfe8f2;
}
.lt-ie8  #setup-dialog section fieldset {
  padding: 3em 0 0;
}
.lt-ie8  #setup-dialog section fieldset label {
  width: 310px;
  margin: 0 0 0.2em;
  text-align: left;
}
.lt-ie8  #setup-dialog section fieldset label input, .lt-ie8  #setup-dialog section fieldset label p {
  float: left;
  width: auto;
}
.lt-ie9 #setup-dialog section fieldset span label {
  width: 25em;
  color: #363636;
  font: normal 1em/1.4 "ProximaNova-Reg",Helvetica,Arial;
}
.lt-ie8 #setup-dialog section fieldset label + label {
/*  width: 25em;*/
  margin: 0 0 1em;
  color: #363636;
  font: normal 1em/1.4 "ProximaNova-Reg",Helvetica,Arial;
}
.lt-ie9 #setup-dialog section fieldset label p {
  font: normal 1.5em/1.4 "ProximaNova-Reg",Helvetica,Arial;
}
.lt-ie8  #setup-dialog section fieldset select {
  margin: 0 0 1.5em;
  width: 26em;
  height: 30px;
  font: normal 1.2em/2 Arial;
}


/***league***/
.lt-ie8 .league-tables .league .block {
  padding: 1.5em 0 0.1em;
}
.lt-ie8 .league-tables .league table tr th {
  padding: 0.7em 1em 0.7em 0.8em;
}
.lt-ie8 .league-tables .league table tr td {
  border-top: 1px solid #b5bcc6;
}
.lt-ie8 .league-tables .league table tr td.points {
  padding: 0.5em 0.6em 0.5em 0.2em;
}
.lt-ie8  .league-tables .league table tr.your-table-position td.points {
  padding: 0em 0.6em 0em 0.8em;
}
.lt-ie8 .league-tables .league header #season-filter select {
  height: 28px;
  font-size: 14px;
}

/***report***/

.lt-ie9 .grid-layout .item.top-predicted-scorers section div, .lt-ie9 .grid-layout .item.featured-player section div, .lt-ie9 .grid-layout .item.blockquote section figure   {
  filter: none!important;
  background: url("../img/translucent-gradient.png") repeat-y right top;
}


.lt-ie9 .grid-layout .item.featured-player section div ul {
  background: #fff;
}
.lt-ie8 .grid-layout .item.top-predicted-scorers section div ol li.big strong {
  font: normal 5em/0.8 "ProximaNova-Bold", Helvetica, Arial;
}
.lt-ie8 .grid-layout .item.top-predicted-scorers section div h1 {
  margin-bottom: 0.8em;
}


.lt-ie8 .grid-layout .item.stacked-bar section figure ol.legend li, 
.lt-ie8 .grid-layout .pie-chart section ol li {
  *zoom: expression( 
          this.runtimeStyle.zoom="1",
          this.appendChild( document.createElement("small") ).className="before"
         );
}

.lt-ie8 .grid-layout .item.pie-chart section ol.legend li small, .lt-ie8 .grid-layout .item.stacked-bar section figure ol.legend li small   {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9em;
  height: 0.9em;
  background: #144a9b;
}
.lt-ie8 .grid-layout .item.pie-chart.top5-predicted-scores section figure ol.legend li:first-child small {
  background: #a01749;
}

.lt-ie9 .grid-layout .pie-chart section ol.legend li:first-child + *:before, .lt-ie8 .grid-layout .pie-chart section ol.legend li:first-child + * small {
  background: #363636;
}
.lt-ie9 .grid-layout .pie-chart section ol.legend li:first-child + * + *:before, .lt-ie8 .grid-layout .pie-chart section ol.legend li:first-child + * + * small {
  background: #7f7f80;
}

.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * small {
  background: #b2466e;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * small {
  background: #c47692;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * +* small {
  background: #d6a4b7;
}
.lt-ie9 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + * + *:before, .lt-ie8 .grid-layout .item.top5-predicted-scores section ol li:first-child + * + * + * + * small {
  background: #e7c6d3;
}


.lt-ie9 .grid-layout .item.stacked-bar section figure > ol li:first-child + * {
  background: #363636;
  text-align: right;
}
.lt-ie9 .grid-layout .item.stacked-bar section figure > ol li:first-child + * span {
  padding: 0 0.4em 0 0;
}
.lt-ie9 .grid-layout .item.stacked-bar section figure ol.legend li:first-child:before, 
.lt-ie8 .grid-layout .item.stacked-bar section figure ol.legend li:first-child small {
  background: #144a9b;
}
.lt-ie9 .grid-layout .item.stacked-bar section figure ol.legend li:first-child + *:before, 
.lt-ie8 .grid-layout .item.stacked-bar section figure ol.legend li:first-child + * small {
  background: #363636;
}


.lt-ie8 .grid-layout .item.summary.left section figure div.your-place p strong {
  line-height: 1;
}


/***faqs***/
.lt-ie8 .support textarea {
  width: 263px;
}
.lt-ie9 .support.registration .ideal-wrap {
  margin-left: -200px;
}
.lt-ie9 .support.registration .ideal-wrap.ideal-full-width {
  margin-left: 50px;
}
.lt-ie9 .support.registration .buttons.ideal-wrap {
   margin-left: 0px;
}
.lt-ie8 .support .faqs dt {
  *zoom: expression( 
          this.runtimeStyle.zoom="1",
          this.appendChild(newSmall=document.createElement("small") ).className="before",
          newSmall.innerHTML="Q"
         );
}
.lt-ie8 .support .faqs dd {
  *zoom: expression( 
          this.runtimeStyle.zoom="1",
          this.appendChild(newSmall=document.createElement("small") ).className="before",
          newSmall.innerHTML="A"
         );
}
.lt-ie8 .support .faqs dt small {
  display: inline-block;
  position: absolute;
  top: -0.1em;
  left: 0;
  margin-right: 0.5em;
  padding: 0.25em 0.38em;
  background-color: #144a9b;
  color: #fff;
  font: normal 0.8em/1 "ProximaNova-Bold", Helvetica, Arial;
}
.lt-ie8 .support .faqs dd small {
  display: inline-block;
  position: absolute;
  top: -0.15em;
  left: 0;
  margin-right: 0.5em;
  padding: 0.35em 0.53em;
  background-color: #7f7f80;
  color: #fff;
  font: normal 1em/1 "ProximaNova-Bold", Helvetica, Arial;
}

.ie8 .support .faqs dt:before {
  font: normal 1.8em/1 "ProximaNova-Bold", Helvetica, Arial;
}
.ie8 .support .faqs dd:before {
  font: normal 1.6em/1 "ProximaNova-Bold", Helvetica, Arial;
}


.lt-ie8 .carousel-wrap .competition-countdown h4, .lt-ie8 .carousel-wrap .competition-countdown p {
  display: inline;
}
.lt-ie8 .make-prediction .make-prediction-content .away-team label {
  margin-bottom: 0;
}