@font-face {
    font-family: 'ProximaNova-Reg';
    src: url('../fonts/proximanova-reg.eot');
    src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
  box-sizing:border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000;
}
body {
  background: #fff;
  font-size: 62.5%;
  font-family: "ProximaNova-Reg", Helvetica, Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
summary::-webkit-details-marker {
  display: none
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
figure {
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.popup-content {
    display: none;
}
.popup-content.popup-opened {
    display : block;
}

#wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
header {
    position: relative;
    overflow: hidden;
}
.logo {
    display: block;
    position: absolute;
    z-index: 2;
    top: 3.2em;
    left: 0;
}
.logo img {
    width: 35.5em;
    height: 9em;
}

/***banner***/
.banner img {
    width: 100%;
    height: auto;
}
.banner-image-top {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 61.6em;
    height: 49.9em;
}
.banner figcaption {
    position: absolute;
    top: 5.1em;
    right: 1.24em;
    max-width: 14em;
    z-index: 2;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 10px #333333;    
    font: normal 4.3em/1.2 "ProximaNova-Bold", Helvetica, Arial;
}
.banner .cta, .ready-try .cta {
    display: block;
    margin: 1em auto 0;
    width: 12.2em;
    height: 2.6em;
    border: 2px solid #9c1f4b;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font: normal 0.68em/2.4 "ProximaNova-Bold", Helvetica, Arial;
    box-shadow: 0px 3px 20px #000;

    background: #af496e;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmNDk2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YzFmNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #af496e 0%, #9c1f4b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af496e), color-stop(100%,#9c1f4b));
    background: -webkit-linear-gradient(top,  #af496e 0%,#9c1f4b 100%);
    background: -o-linear-gradient(top,  #af496e 0%,#9c1f4b 100%);
    background: -ms-linear-gradient(top,  #af496e 0%,#9c1f4b 100%);
    background: linear-gradient(to bottom,  #af496e 0%,#9c1f4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af496e', endColorstr='#9c1f4b',GradientType=0 );
}

/***login-area***/
.login-area {
    position: absolute;
    top: 3.7em;
    right: -1em;
    z-index: 3;
    padding: 2em 4em 2em 2.9em;
    max-width: 57em; 
    background: url(../img/dot.png);
    border-radius: 7px;
}
.login-area > p, .login-area details {
    float: left;
    color: #f4f4f4;
}
.login-area > p {
    font: normal 1.4em/1.2 "ProximaNova-Reg", Helvetica, Arial;
}
.login-with-facebook {
    display: inline-block;
    margin: 0 1em 0 0.6em;
    border: 1px solid #3f5598;
    color: #fff;
    text-decoration: none;

    background: #6174ab;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNzRhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjU1OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #6174ab 0%, #3f5598 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6174ab), color-stop(100%,#3f5598));
    background: -webkit-linear-gradient(top,  #6174ab 0%,#3f5598 100%);
    background: -o-linear-gradient(top,  #6174ab 0%,#3f5598 100%);
    background: -ms-linear-gradient(top,  #6174ab 0%,#3f5598 100%);
    background: linear-gradient(to bottom,  #6174ab 0%,#3f5598 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6174ab', endColorstr='#3f5598',GradientType=0 );
}
.login-with-facebook span {
    display: block;
    padding: 0 0.8em 0 2.5em;
/*    width: 13.8em;*/
    height: 2.2em;
    background: url(../img/facebook-icon.png) no-repeat 0.5em center;
    font: normal 1em/2.1 "ProximaNova-Bold", Helvetica, Arial;
    cursor: pointer;
}

.login-area details {
    position: relative;
    border: 1px solid #424242;

    background: #9b9da0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOWRhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YTViNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #9b9da0 0%, #5a5b5d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9da0), color-stop(100%,#5a5b5d));
    background: -webkit-linear-gradient(top,  #9b9da0 0%,#5a5b5d 100%);
    background: -o-linear-gradient(top,  #9b9da0 0%,#5a5b5d 100%);
    background: -ms-linear-gradient(top,  #9b9da0 0%,#5a5b5d 100%);
    background: linear-gradient(to bottom,  #9b9da0 0%,#5a5b5d 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9da0', endColorstr='#5a5b5d',GradientType=0 );*/
}

.login-area summary {
    padding: 0;
    width: 8.5em;
    height: 2.06em;
    font: normal 1.5em/2 "ProximaNova-Bold", Helvetica, Arial;
    cursor: pointer;
}
.login-area summary span {
    display: block;
    margin: 0 0.4em 0 0.7em;
    background: url(../img/arrow-down.png) no-repeat right center;
}

details .login-form {
    position: absolute;
    z-index: 3;
    top: 5em;
    right: 0;
    padding: 3.2em 3.4em 2em 2.9em;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
}
details .login-form:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

details .login-form:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    right: 2.4em;
    margin-left: -10px;
}

.login-form p {
    clear: both;
    color: #606060;
    font: normal 1.3em/1.5 "ProximaNova-Reg", Helvetica, Arial;
}
.login-form p a {
    color: #144a9b;
    text-decoration: underline;
    font-family: "ProximaNova-Bold", Helvetica, Arial;
}
.login-form p a:hover {
    text-decoration: none;
}
.field {
    margin: 0 0 0.8em;
}
.field label {
    display: block;
    color: #144a9b;
    font: normal 1.3em/1.3 "ProximaNova-Bold", Helvetica, Arial;
}
.field input {
    padding: 0 0.4em;
    width: 13.4em;
    height: 1.8em;
    background: #fff;
    border: 1px solid #144a9b;
    color:  #606060;
    font: normal 1.6em/1.8 "ProximaNova-Reg", Helvetica, Arial;
    box-shadow: inset 0px 10px 20px #ccc;
}
.login-form .keeplogin, .login-form .signin-button {
    float: left;
    clear: none;
}
.login-form .keeplogin {
    margin: 0.3em 0 0;
}
.login-form .signin-button {
    float: right;
    margin: 0 0 1.1em;
}
.keeplogin label {
    margin: 0 0 0 0.4em;
}
.signin-button input {
    padding: 0.5em 1.2em;
    border: 1px solid #144a9b;
    background: #2b5da6;
    color: #fff;
    font: normal 1.3em/1 "ProximaNova-Bold", Helvetica, Arial;
}
.close {
    position: absolute;
    top: 1.3em;
    right: 1.3em;
    width: 17px;
    height: 17px;
    background: url(../img/close.png) no-repeat left top;
    border: none;
    text-indent: -9999px;
}

/***footer***/
footer[role="contentinfo"] {
    color: #c1b3b8;
    font: normal 1.4em/1.2 "ProximaNova-Reg", Helvetica, Arial;
}
footer[role="contentinfo"] a {
    color: #fff;
    text-decoration: none;
}
footer[role="contentinfo"] a:hover {
    text-decoration:  underline;
}

footer[role="contentinfo"] article {
    float: left;
    margin-left: 2.8em;
}
footer[role="contentinfo"] article img {
    display: none;
}
footer[role="contentinfo"] article h2 {
    margin: 1em 0 0 0em;
    color: #fff;
    font: normal 1.6em/1.5 "ProximaNova-Bold", Helvetica, Arial;
}
footer[role="contentinfo"] article p  {
    margin: 0em 0 1.8em 0.2em;
}
footer[role="contentinfo"] article ul {
    margin: 0em 0 1.8em 0.2em;
    list-style: none;
}
footer[role="contentinfo"] .facebook-link, footer[role="contentinfo"] .twitter-link {
    margin: 0 0 0.5em;
    padding: 0 0 0 32px;
    height: 18px;
    color: #fff;
    line-height: 28px;
}
footer[role="contentinfo"] .facebook-link {
    background: url(../img/footer-facebook-link.png) no-repeat left top;
}
footer[role="contentinfo"] .twitter-link {
    background: url(../img/footer-twitter-link.png) no-repeat left top;
}

footer[role="contentinfo"] > div {
    float: right;
    margin: 2em 2.8em 1.5em 0;
    width: 27em;
    border-left: 1px solid #99828a;
}
footer[role="contentinfo"] nav {
   margin: 0 0 2.6em 2.1em; 
}
footer[role="contentinfo"] nav li {
    float: left;
    margin: 0 0 0.6em;
    width: 44%;
}
footer[role="contentinfo"] > div > p {
    margin: 0 0 2em 2.1em;
}


/***home article***/
section[role="main"] {
    overflow: hidden;
}
section[role="main"] .article-image-right  {
    background: #f6f8fb;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmU4ZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f8fb 0%, #dfe8f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8fb), color-stop(100%,#dfe8f2));
    background: -webkit-linear-gradient(top,  #f6f8fb 0%,#dfe8f2 100%);
    background: -o-linear-gradient(top,  #f6f8fb 0%,#dfe8f2 100%);
    background: -ms-linear-gradient(top,  #f6f8fb 0%,#dfe8f2 100%);
    background: linear-gradient(to bottom,  #f6f8fb 0%,#dfe8f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8fb', endColorstr='#dfe8f2',GradientType=0 );
}
section[role="main"] .article-image-left {
    position: relative;
    background: #fff;
/*    box-shadow: inset 0px -10px 30px #ccc;*/
}
section[role="main"] .article-image-left:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em;

    background: url(../img/article-image-shadow.png) repeat-x left bottom;
}
.article-image-left.user-content h2, .article-image-right.user-content h2 {
    margin: 0 0 0.45em;
    font: normal 3.3em/1.06 "ProximaNova-Bold", Helvetica, Arial;
}
.article-image-left p, .article-image-right p {
    font: normal 1.7em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.article-image-left, .article-image-right {
    display: table;
    width: 100%;
}
.article-image-left figure, .article-image-right figure {
    display: table-cell;
    vertical-align: bottom;
    width: 70em;
}
.article-image-right figure {
    right: -0.2em;
    position: relative;
}
.article-image-left figure img, .article-image-right figure img {
    margin: 4.7em 0 0 0;
    width: 100%;
    display: inline;
}
.article-image-left > div, .article-image-right > div {
    display: table-cell;
    padding: 7.6em 3em 3em 8em;
    width: 58em;
    vertical-align: top;
}
.article-image-left > div {
    padding: 7.6em 0em 3em 0em;
    position: relative;
    width: 42em;
    margin-left: 130%;
    display: inline-block;
    z-index: 2;
}
.safari5 .article-image-left > div {
    margin-left: 3em;
}
.article-image-left figure {
    margin: 0 50em 0 -54.688%;
    position: relative;
    width: 54.688%;
}
.article-image-left figure img {
    display: inline;
    margin: 4.7em 0 0 -82.44%;
}
.safari5 .article-image-left figure img {
    margin-left: 0;
}


section[role="main"]  aside.ready-try {
    padding: 1.1em 0;
    background: #fff url(../img/arrow-down-blue.png) no-repeat center top;
    text-align: center;
    color: #4e4e4e;
    font: normal 2.8em/1.06 "ProximaNova-Bold", Helvetica, Arial;
}
.ready-try .cta {
    display: inline-block;
    margin: 0.4em 0.6em 0 0.6em;
    width: 12.5em;
    height: 2.4em;
    border: 2px solid #9c1f4b;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font: normal 0.9em/2.2 "ProximaNova-Bold", Helvetica, Arial;
    box-shadow: 0px 2px 7px #666;
}



/***user-content***/

.user-content p, .user-content pre, .user-content address {
  margin: 0 0 2em;
  font: normal 1.7em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content h1 {
  margin: 0 0 1em;
  font: normal 4em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content h2 {
  margin: 0 0 1em;
  font: normal 3.6em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content h3 {
  margin: 0 0 1em;
  font: normal 3em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content h4 {
  margin: 0 0 1em;
  font: normal 2.4em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content h5 {
  margin: 0 0 1em;
  font: normal 2em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content h6 {
  margin: 0 0 1em;
  font: normal 1.8em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content ul, .user-content ol {
  margin: 0 0 3em 0;
} 
.user-content li {
  margin: 0 0 0 2em;
  font: normal 1.7em/1.3 "ProximaNova-Reg", Helvetica, Arial;
}
.user-content a {
  color: #0c489c;
  text-decoration: underline;
  font-family: "ProximaNova-Bold", Helvetica, Arial;
}
.user-content a:hover {
  text-decoration: none;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) and (max-width:  767px) {
    .logo {
        top: 1.2em;
    }
    .logo img {
        width: 31em;
        height: 7.859em;
    }
    .banner-image-top {
        margin: 0 3%;
        width: 96%;
        height: auto;
    }

    /***login-area***/
    .login-area {
        top: 9.5em;
        right: 0;
        left: 0;
        margin: 0 2.5%;
        padding: 1.3em 3%;
        max-width: 100%; 
        width: 89%;
        box-sizing: content-box;
    }
    .login-area > p {
        float: none;
    }
    .login-area > p span {
        display: block;
        margin: 0 0 0.6em;
        text-align: center;
    }
    .login-area > p .login-with-facebook {
        float: left;
        margin: 0 2% 0 0em;
        width: 56%;
    }
    .login-area > p .login-with-facebook span {
        margin: 0;
        padding: 0 0 0 2.6em;
        width: auto;
        height: 3em;
        background: url(../img/facebook-icon.png) no-repeat 0.4em center;
        text-align: left;
        font: normal 0.9em/3 "ProximaNova-Bold", Helvetica, Arial;
    }

    .login-area details {
        position: relative;
        width: 40.5%;
    }

    .login-area summary {
        width: auto;
        height: 2.9em;
        font: normal 1.3em/3 "ProximaNova-Bold", Helvetica, Arial;
    }
    details .login-form {
        padding: 3.2em 2em 2em 2em;
    }
    .field input {
        width: 11em;
    }

   /***banner***/
  .banner figcaption {
        top: 9.5em;
        right: 0;
        left: 0;
        max-width: 100%;
        width: 92%;
        margin: 0 4%;
        font: normal 2.2em/1.2 "ProximaNova-Bold", Helvetica, Arial;
    }
    .banner .cta {
        width: 95%;
        height: 2.8em;
        font: normal 0.9em/2.6 "ProximaNova-Bold", Helvetica, Arial;
    }

    /***footer***/
    footer[role="contentinfo"] {
        font: normal 1.3em/1.2 "ProximaNova-Reg", Helvetica, Arial;
    }  
    footer[role="contentinfo"] article, footer[role="contentinfo"] > div {
        float: none;
        margin: 0 5%;
        width: 90%;
    }
    footer[role="contentinfo"] > div {
        margin: 2em 5% 2em;
        padding: 2em 0 0;
        border-left: none;
        border-top: 1px solid #99828a;
    }
    footer[role="contentinfo"] article h2 {
        font: normal 1.3em/1.5 "ProximaNova-Bold", Helvetica, Arial;
    }
    footer[role="contentinfo"] nav, footer[role="contentinfo"] > div > p {
        margin: 0 0 1.1em 0;
    }
    footer[role="contentinfo"] nav li {
        float: left;
        margin: 0 0 0.6em;
        width: 50%;
    }


    /***home article***/
    .article-image-left, .article-image-right {
        display: block;
    }
    .article-image-left > div, .article-image-right > div {
        left: 0;
        display: block;
        margin: 3em 6% 3em;
        padding: 0;
        width: 88%;
    }
    .article-image-left figure, .article-image-right figure {
        display: block;
        width: 100%;
        margin: 0;
    }
    .article-image-left.user-content h2, .article-image-right.user-content h2 {
        font: normal 2.3em/1.06 "ProximaNova-Bold", Helvetica, Arial;
    }
    .article-image-left figure img, .article-image-right figure img {
        margin: 0 0 0 0;
        display: block;
    }

    section[role="main"] aside.ready-try {
        background: #fff;
        font: normal 2.1em/1.4 "ProximaNova-Bold", Helvetica, Arial;
    }
    .ready-try .cta {
        display: block;
        width: 90%;
        margin: 0.4em auto;
    }


    .user-content p, .user-content pre, .user-content address {
        font: normal 1.5em/1.4 "ProximaNova-Reg", Helvetica, Arial;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .banner-image-top {
        width: 49.379em;
        height: 40em;
    }
    .banner figcaption {
        right: 1.0em;
        font: normal 3.6em/1.2 "ProximaNova-Bold", Helvetica, Arial;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait) {

    footer[role="contentinfo"] {
        font: normal 1.7em/1.2 "ProximaNova-Reg", Helvetica, Arial;
    }  
}

@media screen and (min-width: 1025px) {
    .login-with-facebook {
        max-width: 13em;
    }
    footer[role="contentinfo"] article img {
        display: block;
        float: left;
        width: 13em;
    }
    footer[role="contentinfo"] article h2 {
        margin: 1em 0 0 10.1em;
    }
    footer[role="contentinfo"] article p {
        margin: 0em 0 1.8em 16.3em;
    }
    footer[role="contentinfo"] article ul {
        margin: 0em 0 1.8em 16.3em;
    }

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; 
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}