.carousel-wrap {
  .vertical-gradient(#e7edfb, #e7eef9);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7edfb', endColorstr='#e7eef9',GradientType=0 );

  > header {
    position: relative;
    background: #404040;

    .game-date {
      display: block;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font: normal 1.6em/2.8 "ProximaNova-Bold", Helvetica, Arial;
    }

    li {
      position: absolute;
      top: 0;
      padding: 0 2em;
      list-style: none;

      .vertical-gradient(#949494, #686868);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#686868',GradientType=0 );

      a {
        display: block;
        color: #fff;
        text-decoration: none;
        font: normal 1.6em/2.8 "ProximaNova-Bold", Helvetica, Arial;

        &:hover {
          color: #ccc;
        }
      }

      &.prev-match {
        left: 0;   
        box-shadow: 3px 0px 10px rgba(50, 50, 50, 0.75);

        a {
          padding: 0 0 0 1.5em;
          background: url(../img/prev-match.png) no-repeat left center;
        }       
      }
      &.next-match {
        right: 0;
        box-shadow: -3px 0px 10px rgba(50, 50, 50, 0.75);

        a {
          padding: 0 1.5em 0 0;
          background: url(../img/next-match.png) no-repeat right center;
        }
      }

    }

    .flag-new-prediction {
      display: block;
      position: absolute;
      bottom: -4em;
      left: 50%;
      margin-left: -6.5em;
      width: 13em;
      height: 4em;
      text-align: center;

      &:before {
        position: absolute;
        z-index: 1;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 6.5em solid transparent;
        border-right: 6.5em solid transparent;
        border-top: 4em solid #de1012;
      }

      span {
        position: relative;
        z-index: 2;
        display: block;
        padding: 0.6em 0 0;
        color: #fff;
        text-transform: uppercase;
        font: normal 1.3em/1 "ProximaNova-Reg", Helvetica, Arial;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width:  767px) {
  .carousel-wrap  {
    > header {
      font-size: 60%;
      .game-date {
        font: normal 2em/3 "ProximaNova-Bold", Helvetica, Arial;
      }

      li {
        padding: 0 1.5em;
        a {
          font: normal 2em/3 "ProximaNova-Bold", Helvetica, Arial;
            span {
              display: none;
            }
        }
        &.prev-match {
          box-shadow: none;

          a {
            padding: 0 0 0 1.5em;
          }
        }
        &.next-match {
          box-shadow: none;

          a {
            padding: 0 1.5em 0 0;
          }
        }
      } 
    }
  }
}