.make-prediction {

  .ideal-form.stack .ideal-field {
    width: auto!important;
  }

  .make-prediction-content {
    position: relative;
    margin: 0 0 4em;
    padding: 4em 1em 1em;
    text-align: center;

    .home-team, .away-team {
      display: inline-block;
      width: 39%!important;
      text-align: center;
      vertical-align: top;

      &.ideal-wrap {
        float: none;
      }

      label {
        float: left;
        margin: 0 0 1em 0;
        width: 18em;
        max-width: 18em;
        text-align: center;

        figure {
          line-height: 11em;

          img {
            margin: 0 0 1em;
            max-width: 11em;
            max-height: 11em;
          }
          figcaption {
            color: @blue;
            font: normal 2.3em/1.2 "ProximaNova-Bold", Helvetica, Arial;
          }
        }

      }

      .ideal-field {
        float: right;
        margin: 3em 0 0 0;

          input[type="text"] {
            padding: 0;
            margin: 0 0 1em;
            max-width: 110px;
            width: 110px;
            height: 1.2em;
            text-align: center;
            color: #000;
            font: normal 5.3em/1 "ProximaNova-Bold", Helvetica, Arial;
          }
        }

      section {
        float: left;
        width: 100%;
        max-width: 28em;

        .ideal-field {
          float: none;
          display: block;
          margin: 0 0 1em;
          text-align: left;
          clear: left;
        }
      }
      .ideal-select {
        width: 100%;
      }
    }

    .away-team {
      label {
        float: right;
      }
      .ideal-field {
        float: left;
      }
      section  {
        float: right;
        clear: right;
      }
    }

    .league-logo {
      display: inline-block;
      width: 7.2em;
      margin: 3em 4em 0;
      vertical-align: top;
      text-align: center;

        img {
          margin: 0 0 2.4em;
          max-width: 7.2em;
          height: auto;
        }

        em {
          display: block;
          margin: 0 0 0.5em;
          color: @light-blue;
          text-transform: uppercase;
          font: normal 4em/1 "ProximaNova-Bold", Helvetica, Arial;
        }
        span {
          position: absolute;
          left: 0;
          right: 0;
          display: block;
          color: @blue;
          text-transform: uppercase;
          font: normal 1.5em/1 "ProximaNova-Bold", Helvetica, Arial;
        }
    }

    .buttons-block {
      width: 100%;
      max-width: 100%;
      text-align: center;

      button {
        display: block;
        margin: 1em auto 0;
        width: 13em;
        height: 2.3em;
        border: 1px solid #9c1f4b;
        color: #fff;
        text-decoration: none;
        text-shadow: none;
        font: normal 2.5em/2.1 "ProximaNova-Bold", Helvetica, Arial;
        box-shadow: 0px 2px 5px #666;

        .vertical-gradient(#af496e, #9c1f4b);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af496e', endColorstr='#9c1f4b',GradientType=0 );
      }
    }

    .competition-countdown {
      margin: 0.5em auto 1em;
      padding: 0.5em 0 0;
      text-align: center;
      background: radial-gradient(ellipse at center center , #C1D2E5 0%, rgba(231, 238, 248, 0) 100%) no-repeat scroll center -34px transparent;
      background-size: 500px 50px;

      h4, p {
        vertical-align: top;
        display: inline-block;
        padding: 0 0.5em;
        color: #707070;
        font: normal 1.4em/3.5 "ProximaNova-Bold", Helvetica, Arial;
      }
      p {
        word-spacing: 0.9em;
        font: normal 1.4em/1 "ProximaNova-Reg", Helvetica, Arial;
      }
      strong {
        display: block;
        color: #363636;
        word-spacing: 0.5em;
        text-decoration: none;
        font: bold 1.8em/1 Arial;
      }
    }

  }
}

@media only screen and (min-width: 320px) and (max-width:  767px) {
  .make-prediction  {
    .make-prediction-content {
      font-size: 60%;

      .home-team, .away-team {
        label {
          float: none;
          display: block;
          margin: 0 auto 1em;
        }
        .ideal-field {
          float: none;
          display: block;
          margin: 1em auto 0;

          input[type="text"] {
            max-width: 90px;
            width: 90px;
            height: 1.2em;
          }
        }
        section  {
          float: none;
          clear: right;
          width: 100%;
          max-width: 90%;
          margin: 0 auto;
        }

      }

      .league-logo {
        width: 7.2em;
        margin: 3em 1em 0;
        span {
          display: none;
        }
      }

    }
    .competition-countdown {
      font-size: 120%;
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .make-prediction {
    font-size: 120%;
  }
}
