.banner {
    img {
        width: 100%;
        height: auto;
    }

    .banner-image-top {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 61.6em;
        height: 49.9em;

        img {
            position: absolute;
            bottom: 0;
        }
    }

    figcaption {
        position: absolute;
        top: 5.1em;
        right: 1.24em;
        max-width: 14em;
        z-index: 2;
        color: #fff;
        text-align: center;
        text-shadow: 0px 1px 10px #333333;    
        font: normal 4.3em/1.2 "ProximaNova-Bold", Helvetica, Arial;
    }
}


.banner .cta, .ready-try .cta {
    display: block;
    margin: 1em auto 0;
    width: 12.2em;
    height: 2.6em;
    border: 2px solid #9c1f4b;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font: normal 0.68em/2.4 "ProximaNova-Bold", Helvetica, Arial;
    box-shadow: 0px 3px 20px #000;

    .horizontal-gradient(#af496e, #9c1f4b);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af496e', endColorstr='#9c1f4b',GradientType=0 );
    
}