#wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header[role="banner"] {
    position: relative;
    overflow: hidden;
}
.logo {
    display: block;
    position: absolute;
    z-index: 2;
    top: 3.2em;
    left: 0;

    img {
        width: 35.5em;
        height: 9em;
    }
}

div[role="main"] {
    position: relative;
    overflow: hidden;
}


/***inner page***/
.inner-page {
    header[role="banner"] {
        height: 50em;
    }
    div[role="main"] {
        margin: -16.4em auto 0em;
        max-width: 1220px;
        h1 {
            margin: 0.86em 1em 0.4em 0.9em;
            color: @blue;
            font: normal 4em/1 "ProximaNova-Bold", Helvetica, Arial;
        }
    }
}


/***footer***/
footer[role="contentinfo"] {
    color: #c1b3b8;
    font: normal 1.4em/1.2 "ProximaNova-Reg", Helvetica, Arial;

   a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration:  underline;
        }
    }

   article {
        float: left;
        margin-left: 2.8em;

        figure {
            display: none;
        }
        
        h2 {
            margin: 1em 0 0 0em;
            color: #fff;
            font: normal 1.6em/1.5 "ProximaNova-Bold", Helvetica, Arial;
        }
        p  {
            margin: 0em 0 1.8em 0.2em;
        }
        ul {
            margin: 0em 0 1.8em 0.2em;
            list-style: none;
        }
    }
   /*.facebook-link, .twitter-link*/
   .social-link  {
        margin: 0 0 0.5em;
        padding: 0 0 0 32px;
        height: 18px;
        color: #fff;
        line-height: 28px;
    }
   /*.facebook-link {
        background: url(../img/footer-facebook-link.png) no-repeat left top;
    }
   .twitter-link {
        background: url(../img/footer-twitter-link.png) no-repeat left top;
    }*/

   > div {
        float: right;
        margin: 2em 2.8em 1.5em 0;
        width: 27em;
        border-left: 1px solid #99828a;
    }
   nav {
       margin: 0 0 2.6em 2.1em; 

       li {
            float: left;
            margin: 0 0 0.6em;
            width: 44%;
        }
    }
   > div > p {
        margin: 0 0 2em 2.1em;
    }
}