@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: #24499a !important;
}
.header .brand {
    width: 128px;
}
.header .navbar-inner {
    background-color: #203668 !important;
}
.page-sidebar > ul > li > a {
    border-top: 1px solid #203668 !important;
    color: #fff !important;
}
.page-sidebar > ul > li.open > a, 
.page-sidebar > ul > li >a:hover, 
.page-sidebar > ul > li:hover >a,
.page-sidebar > ul > li > ul.sub-menu > li.active > a, 
.page-sidebar > ul > li > ul.sub-menu > li > a:hover,
.page-sidebar > ul > li > ul.sub-menu li > ul.sub-menu > li.active > a, 
.page-sidebar > ul > li > ul.sub-menu li > ul.sub-menu > li > a:hover, 
.page-sidebar > ul > li > ul.sub-menu li.open > a {
    background-color: #203668 !important;
}
.nav > li.dropdown.user .dropdown-toggle:hover, 
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active>.dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: #24499a !important;
}
.page-sidebar > ul > li.active > a {
    background: #efb120 !important;
}
.page-title {
    color: #203668;
    font-family: "league_gothicregular", "Open Sans";
    text-transform: uppercase;
}
.dashboard-stat .details .number {
    font-family: "league_gothicregular", "Open Sans";
}
.portlet.box.grey .portlet-title {
    background-color: #24499a;
}

.page-sidebar > ul > li.start {
    margin-top: 15px;
}

.dashboard-stat .visual.short {
    width: 70px;
    padding-left: 10px;
}

.dashboard-stat.black {
    background: #737480;
}

.dashboard-stat.black .more {
    background-color: #656670;
}

.table div.glyphicons {
    display: block;
    position: relative;
    top: -2px;
}

.landing .tabbable-custom.boxless > .tab-content {
    padding-bottom: 0;
}

.landing .form-actions, .landing .tabbable-custom {
    margin-bottom: 0;
}

iframe.wysihtml5-sandbox {
    width: 100% !important;
}

.help-inline {
    margin-top: 0;
    margin-bottom: 6px;
}

.form .fileupload {
    margin-bottom: 3px;
}

.new-item td{
    background-color: #de9683 !important;
}

.datatable-filter {
    margin-bottom: 6px;
}

.datatable-filter label {
    display: inline;
    padding-right: 10px;
}

.datatable-filter select {
    width: auto;
    height: auto;
    line-height: 20px;
    margin-bottom: 4px;
}

div.row-fluid div.tab-pane.hidden {
    display: none;
}

.form-select{
    width: 247px;
}

ul.vertical-margined li {
    padding-bottom: 5px !important;
}

.translation-error{
    border : 1px solid red;
}

.page-sidebar > ul > li a i{
    color : #fff !important;
}