.page-sidebar > ul > li.start {
    margin-top: 15px;
}

.dashboard-stat .visual.short {
    width: 70px;
    padding-left: 10px;
}

.dashboard-stat.black {
    background: #737480;
}

.dashboard-stat.black .more {
    background-color: #656670;
}

.table div.glyphicons {
    display: block;
    position: relative;
    top: -2px;
}

.landing .tabbable-custom.boxless > .tab-content {
    padding-bottom: 0;
}

.landing .form-actions, .landing .tabbable-custom {
    margin-bottom: 0;
}

iframe.wysihtml5-sandbox {
    width: 100% !important;
}