.page-sidebar > ul > li.start {
    margin-top: 15px;
}

.dashboard-stat .visual.short {
    width: 70px;
    padding-left: 10px;
}

.dashboard-stat.black {
    background: #737480;
}

.dashboard-stat.black .more {
    background-color: #656670;
}

.table div.glyphicons {
    display: block;
    position: relative;
    top: -2px;
}

.landing .tabbable-custom.boxless > .tab-content {
    padding-bottom: 0;
}

.landing .form-actions, .landing .tabbable-custom {
    margin-bottom: 0;
}

iframe.wysihtml5-sandbox {
    width: 100% !important;
}

.help-inline {
    margin-top: 0;
    margin-bottom: 6px;
}

.form .fileupload {
    margin-bottom: 3px;
}

.new-item td{
    background-color: #de9683 !important;
}

.datatable-filter {
    margin-bottom: 6px;
}

.datatable-filter label {
    display: inline;
    padding-right: 10px;
}

.datatable-filter select {
    width: auto;
    height: auto;
    line-height: 20px;
    margin-bottom: 4px;
}

div.row-fluid div.tab-pane.hidden {
    display: none;
}

.form-select{
    width: 247px;
}

body {
    background-color:#24499a !important;
}

.header .navbar-inner {
    background: #203668 !important;
}

.page-sidebar > ul > li > a {
    border-top: 1px solid #546c99 !important;
}

.page-sidebar > ul > li.open > a, .page-sidebar > ul > li >a:hover, .page-sidebar > ul > li:hover >a {
    background: #203668 !important;
}

.page-sidebar > ul > li > ul.sub-menu > li > a:hover {
    background: #203668 !important;
}

.page-sidebar > ul > li > ul.sub-menu li > ul.sub-menu > li.active > a, .page-sidebar > ul > li > ul.sub-menu li > ul.sub-menu > li > a:hover, .page-sidebar > ul > li > ul.sub-menu li.open > a {
    background: #203668 !important;
}

.page-sidebar > ul > li a i {
    color: #fff;
}

.page-title {
    /*font-family: League Gothic,*/
    color: #203668;
    text-transform: uppercase;
}

.portlet.box .portlet-title {
    background: #24499a !important;
}

.portlet.box {
    border: 1px solid #24499a !important;
}